IS_MERCHANT = 0IS_PRO = 1IS_B2B = 0[APP]DEBUG = true[JWT]SECRET=342b229ae8aae1f6559b98eec9d75319[DB]TYPE = mysqlHOST = 127.0.0.1NAME = testUSER = usernamePASS = passwordPORT = 3306CHARSET = utf8mb4[REDIS]HOST=127.0.0.1PORT=6379PASSWORD =SELECT = 1[QUEUE]DEFAULT = redis